.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px;
    background-color: transparent;
  }
  
  .search-input::placeholder {
    color: #999;
  }
  
  .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  
  .mainSearch{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }